extends layout
block content
    - let num = 1
    .container
        if flash.length > 0
            .alert.alert-primary(role='alert') #{flash}
        h2 Create a Vault
        form(action="/file", method='post')
            .formgroup 
                label(for='vaultname') Vault Name
                input.form-control#vaultname(type='text' name='vaultname' required)

            .formgroup 
                label(for='link') Link to Files
                input.form-control#link(type='text' name='link' required)
            h3 Mail to: 
            each outlet in mediaOutlets
                .form-check
                    input.form-check-input(type='checkbox' name='emailTo' id=`check-${num}` value=`${outlet.email}`)
                    label.form-check-label(for=`check-${num}`) #{outlet.name}
                    - num += 1
            button.btn.btn-primary(type='submit') Submit

            
    