extends layout

block content 
    .container
        h2 Your Vault
        
        each file in files
            .card(style="width: 18rem;")
                .card-body
                    h5.card-title #{file.vaultname}
                    p.card-text 
                        a(href=`${file.link}`) Click here to access Vault
                    button.btn.btn-danger.delBtn(name=`${file.id}` id=`del-${file.id}`) Delete
                    if file.filequeue
                        if file.filequeue.status === "enqueued"
                            p.card-text To be sent at #{file.filequeue.sendAt}
                            button.btn.btn-warning.unqueueBtn(name=`${file.id}`, id=`unqueue-${file.id}`) Unqueue
                        else 
                            p.card-text 
                                strong SENT ALREADY
                    else
                        button.btn.btn-success.queueBtn(name=`${file.id}`, id=`queue-${file.id}`) Queue
    
    script(src="/scripts/script.js")
